{% load static %}
<section class="about" id="about">
    <div class="content">
      <div class="title-wrapper-about">
        <p>Know about us</p>
        <h3>About</h3>
      </div>
      <div class="about-content">
        <div class="left">
          <img src="" alt="About" />
        </div>
        <div class="right">
          <h3>Sobre Nós</h3>
          <p>
            Bem-vindo à Urbano Fino, sua loja de moda urbana e sofisticada. Na Urbano Fino,
            acreditamos que a moda é uma expressão pessoal. Oferecemos roupas e acessórios cuidadosamente
            selecionados para ajudá-lo a criar seu próprio estilo. Nosso compromisso é fornecer qualidade,
            estilo e acessibilidade em cada peça. Além disso, valorizamos a sustentabilidade em nossa jornada na moda.
            Explore nosso catálogo e destaque-se na multidão com a Urbano Fino.
          </p>
        </div>
      </div>
    </div>
  </section>