{% load static %}

<section class="catalog" id="catalog">
  <div class="content">
    <div class="title-wrapper-catalog">
      <p>Fotos da nossa linha do tempo</p>
      <h3>UrbanoFino</h3>
    </div>
    <div class="filter-card">
      
    </div>
<div class="card-wrapper">
    <div class="card-item">
      <img src='{% static "assets/img/felicidade.png" %}' alt="feliz" />
      <div class="card-content">
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Repellendus.
        </p>
        <button type="button">Ver!</button>
      </div>
    </div>
    <div class="card-item">
      <img src='{% static "assets/img/felicidade.png" %}' alt="feliz" />
      <div class="card-content">
        <h3>uby</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Repellendus.
        </p>
        <button type="button">Ver!</button>
      </div>
    </div>
    <div class="card-item">
      <img src='{% static "assets/img/felicidade.png" %}' alt="feliz" />
      <div class="card-content">
        <h3>inhuih</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Repellendus.
        </p>
        <button type="button">Ver!</button>
      </div>
    </div>
    <div class="card-item">
      <img src='{% static "assets/img/felicidade.png" %}' alt="feliz" />
      <div class="card-content">
        <h3>ihuih</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Repellendus.
        </p>
        <button type="button">Ver!</button>
      </div>
    </div>
    <div class="card-item">
      <img src='{% static "assets/img/felicidade.png" %}' alt="feliz" />
      <div class="card-content">
        <h3>hiuhui</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Repellendus.
        </p>
        <button type="button">Ver!</button>
      </div>
    </div>
    <div class="card-item">
      <img src='{% static "assets/img/felicidade.png" %}' alt="feliz" />
      <div class="card-content">
        <h3>ihuh</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Repellendus.
        </p>
        <button type="button">Ver!</button>
      </div>
    </div>
    <div class="card-item">
      <img src='{% static "assets/img/felicidade.png" %}' alt="feliz" />
      <div class="card-content">
        <h3>uhuh</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Repellendus.
        </p>
        <button type="button">Ver!</button>
      </div>
    </div>
    <div class="card-item">
      <img src='{% static "assets/img/felicidade.png" %}' alt="feliz" />
      <div class="card-content">
        <h3>ijij</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Repellendus.
        </p>
        <button type="button">Ver!</button>
      </div>
    </div>
    <div class="card-item">
      <img src='{% static "assets/img/felicidade.png" %}' alt="feliz" />
      <div class="card-content">
        <h3>ijiuj</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Repellendus.
        </p>
        <button type="button">Ver!</button>
      </div>
    </div>
  </div>
</div>
</section>