{% load static %}
<footer>
    <div class="main">
      <div class="content footer-links">
        <div class="footer-company">
          <h4>Informações</h4>
          <h6>Sobre Nós</h6>
          <h6>Contato</h6>
        </div>

        <div class="footer-social">
          <h4>Estamos Conectados</h4>
          <div class="social-icons">
            <img src='{% static "assets/img/instagram.png" %}' alt="Instagram" />
            <img src='{% static "assets/img/facebook.png" %}' alt="Facebook" />
          </div>
        </div>
        <div class="footer-contact">
          <h4>Contato</h4>
          <h6>+55 32 99999-9999</h6>
          <h6>UrbanoFino@gmail.com</h6>

        </div>
      </div>
    </div>
    <div class="last">Urbano Fino 2023 </div>
  </footer>