{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Urbano Fino</title>
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}" />
  </head>
  <body>
    <header>
      <div class="content">
        <nav>
          <p class="brand">Urbano<strong>Fino</strong></p>

          <ul>
            <li><a href="#catalog">Catalago</a></li>
            <li><a href="#about">Sobre Nós</a></li>
            <li><a href="#categ">Categorias</a></li>
            <button>Login</button>
          </ul>
        </nav>
        <div class="header-block">
          <div class="text">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia,
              asperiores?
            </p>
          </div>
          <img src='{% static "assets/img/felicidade.png" %}' alt="feliz" />
        </div>
      </div>
    </header>